@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Mansfield';
  src: url('/fonts/Mansfield.woff2') format('woff2'),
       url('/fonts/Mansfield.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Mansfield', sans-serif;
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
